@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;500;600;700&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Source+Code+Pro:wght@200;300;400;500;600;700;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

body {
  font-family: "Source Code Pro";
  color: #cad2c5;
  background: #2b2c2a;
  font-size: 16px;
}

/* NAVBAR */
.navbar {
  z-index: 100;
  position: fixed;
  width: 98vw;
  height: 80px;
  margin: 0 auto;
  font-family: "Chakra Petch";
}
.navbar .nav-container {
  background: #2b2c2a;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #656e5d;
  border-radius: 7px;
  margin: 0 auto;
  padding: 0 10px;
  height: 100%;
  width: min(90vw, 1200px);
}
.navbar .nav-container .nav-logo {
  font-size: min(10vw, 2rem);
  font-weight: 700;
  color: #f9c74f;
  text-decoration: none;
}
.navbar .nav-container .nav-input,
.navbar .nav-container svg {
  display: none;
}
.navbar .nav-container .nav-menu {
  font-size: max(1vw, 1.5rem);
  display: grid;
  grid-auto-flow: column;
  gap: 2em;
}
.navbar .nav-container .nav-menu .nav-item {
  color: #cad2c5;
  text-decoration: none;
  text-transform: uppercase;
  --clip: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
}
.navbar .nav-container .nav-menu .nav-item b {
  color: #f9c74f;
}
.navbar .nav-container .nav-menu .nav-item::after {
  content: "";
  display: block;
  background: #f9c74f;
  width: 100%;
  height: 3px;
  -webkit-clip-path: var(--clip);
          clip-path: var(--clip);
  transition: -webkit-clip-path 0.5s ease-in-out;
  transition: clip-path 0.5s ease-in-out;
  transition: clip-path 0.5s ease-in-out, -webkit-clip-path 0.5s ease-in-out;
}
.navbar .nav-container .nav-menu .nav-item:hover {
  --clip: polygon(100% 0, 0 0, 0 100%, 100% 100%);
}
.navbar .nav-container .nav-menu .nav-item:hover b {
  color: #f9c74f;
}
@media screen and (max-width: 800px) {
  .navbar .nav-container {
    background: #2b2c2a;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
  }
  .navbar .nav-container svg {
    display: inline-block;
    fill: #f9c74f;
  }
  .navbar .nav-container .nav-label {
    display: block;
    border-radius: 5px;
    padding: 0 10px;
    background: #2b2c2a;
  }
  .navbar .nav-container .nav-menu {
    justify-content: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    color: #cad2c5;
    background: #2b2c2a;
    border-radius: 7px;
    border: 1px solid #656e5d;
    position: fixed;
    width: 90vw;
    height: 80vh;
    top: 80px;
    gap: 0.5em;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: -webkit-clip-path 0.5s;
    transition: clip-path 0.5s;
    transition: clip-path 0.5s, -webkit-clip-path 0.5s;
  }
  .navbar .nav-container .nav-input:checked + .nav-menu {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .navbar .nav-container .nav-label {
    cursor: pointer;
  }
}

/* INICIO */
.inicio {
  margin: 0 auto;
  padding-top: 4em;
  max-width: 1200px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inicio .bg-animation {
  position: relative;
  width: min(90vw, 600px);
  height: min(90vw, 600px);
  border-radius: 5px;
  overflow: hidden;
}
.inicio .bg-animation::before {
  content: "";
  position: absolute;
  background: #f9c74f;
  transition: 0.5s;
  inset: -20px;
  -webkit-animation: animate 4s linear infinite;
          animation: animate 4s linear infinite;
}
.inicio .bg-animation::after {
  content: "";
  position: absolute;
  inset: 5px;
  background: #2b2c2a;
  border-radius: 5px;
  z-index: 50;
}
.inicio .bg-animation .cnt-inicio {
  display: block;
  height: 80vw;
  width: 80vw;
}
.inicio .bg-animation .cnt-inicio .content {
  position: absolute;
  inset: 25px;
  z-index: 75;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.inicio .bg-animation .cnt-inicio .content svg {
  position: absolute;
  z-index: 200;
  bottom: 30px;
  right: 30px;
  border: 2px dashed #2b2c2a;
  padding: 5px;
  height: 40px;
  width: 40px;
  fill: #2b2c2a;
  transition: border 0.3s, fill 0.3s;
}
.inicio .bg-animation .cnt-inicio .content svg:hover {
  border: 2px dashed #f9c74f;
  fill: #f9c74f;
}
.inicio .bg-animation .cnt-inicio .content img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s;
  pointer-events: none;
  z-index: 100;
}
.inicio .bg-animation .cnt-inicio .content h2 {
  position: relative;
  font-family: "Chakra Petch";
  font-size: min(10vw, 4rem);
  font-weight: 600;
  color: #f9c74f;
  text-align: center;
}
.inicio .bg-animation .cnt-inicio .content h3 {
  font-size: min(6vw, 2.5rem);
  color: #cad2c5;
  font-family: "Source Code Pro";
}
.inicio .bg-animation .cnt-inicio:hover .content img {
  opacity: 0;
  width: 400px;
  height: 400px;
}
@media screen and (max-width: 800px) {
  .inicio .bg-animation .cnt-inicio:hover .content img {
    width: 800px;
    height: 800px;
  }
}
.inicio .arrow {
  position: absolute;
  bottom: 10px;
  right: 10px;
  fill: #cad2c5;
}

@-webkit-keyframes animate {
  0% {
    -webkit-clip-path: polygon(0 90%, 10% 90%, 10% 100%, 0 100%);
            clip-path: polygon(0 90%, 10% 90%, 10% 100%, 0 100%);
  }
  25% {
    -webkit-clip-path: polygon(0 0, 10% 0, 10% 10%, 0 10%);
            clip-path: polygon(0 0, 10% 0, 10% 10%, 0 10%);
  }
  50% {
    -webkit-clip-path: polygon(90% 0, 100% 0, 100% 10%, 90% 10%);
            clip-path: polygon(90% 0, 100% 0, 100% 10%, 90% 10%);
  }
  75% {
    -webkit-clip-path: polygon(90% 90%, 100% 90%, 100% 100%, 90% 100%);
            clip-path: polygon(90% 90%, 100% 90%, 100% 100%, 90% 100%);
  }
  100% {
    -webkit-clip-path: polygon(0 90%, 10% 90%, 10% 100%, 0 100%);
            clip-path: polygon(0 90%, 10% 90%, 10% 100%, 0 100%);
  }
}

@keyframes animate {
  0% {
    -webkit-clip-path: polygon(0 90%, 10% 90%, 10% 100%, 0 100%);
            clip-path: polygon(0 90%, 10% 90%, 10% 100%, 0 100%);
  }
  25% {
    -webkit-clip-path: polygon(0 0, 10% 0, 10% 10%, 0 10%);
            clip-path: polygon(0 0, 10% 0, 10% 10%, 0 10%);
  }
  50% {
    -webkit-clip-path: polygon(90% 0, 100% 0, 100% 10%, 90% 10%);
            clip-path: polygon(90% 0, 100% 0, 100% 10%, 90% 10%);
  }
  75% {
    -webkit-clip-path: polygon(90% 90%, 100% 90%, 100% 100%, 90% 100%);
            clip-path: polygon(90% 90%, 100% 90%, 100% 100%, 90% 100%);
  }
  100% {
    -webkit-clip-path: polygon(0 90%, 10% 90%, 10% 100%, 0 100%);
            clip-path: polygon(0 90%, 10% 90%, 10% 100%, 0 100%);
  }
}
/* SOBRE MI */
.sobremi {
  width: 98vw;
  padding-bottom: 20vh;
}
.sobremi .cnt-sobremi {
  max-width: min(90vw, 1200px);
  margin: 0 auto;
  padding: 15px;
  border-radius: 5px;
  background: #656e5d;
  height: auto;
  font-family: "Source Code Pro";
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.sobremi .cnt-sobremi .sobremi-resumen {
  min-width: 280px;
  max-width: 95%;
}
.sobremi .cnt-sobremi .sobremi-resumen h2 {
  font-size: 2.5rem;
  color: #f9c74f;
  font-family: "Chakra Petch";
  padding-bottom: 20px;
  font-weight: 600;
}
.sobremi .cnt-sobremi .sobremi-resumen p {
  font-weight: 600;
}
.sobremi .cnt-sobremi .cnt-img {
  padding: 30px 0;
  margin: 0px auto;
  min-width: 90%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: none;
}
.sobremi .cnt-sobremi .cnt-img img {
  min-width: max(60px, 5vw);
}

/* CONTACTO */
.contacto {
  width: 98vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vh;
}
.contacto .contacto-ctn {
  width: 1200px;
  min-width: 280px;
  max-width: 95%;
  margin: 0 auto;
  padding: 10px 10px 40px;
  border-radius: 5px;
  background: #656e5d;
  height: auto;
  font-family: "Source Code Pro";
  display: grid;
  grid: "titulo titulo" 100px "form social" 1fr/1fr 1fr;
  gap: 30px;
}
.contacto .contacto-ctn h2 {
  grid-area: titulo;
  font-size: 2.5rem;
  color: #f9c74f;
  font-family: "Chakra Petch";
  padding-bottom: 20px;
  font-weight: 600;
  padding-left: 15px;
}
.contacto .contacto-ctn .form-wts {
  grid-area: form;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0 5vw;
}
.contacto .contacto-ctn .form-wts div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.contacto .contacto-ctn .form-wts div div {
  padding-bottom: 20px;
  width: 100%;
}
.contacto .contacto-ctn .form-wts div div label {
  font-family: "Source Code Pro";
  font-size: 1.2rem;
  font-weight: 600;
}
.contacto .contacto-ctn .form-wts div div input[type=text] {
  font-family: "Source Code Pro";
  width: 100%;
  border-radius: 5px;
  border: none;
  padding: 10px;
  background-color: #2b2c2a;
  color: #cad2c5;
}
.contacto .contacto-ctn .form-wts div div input[type=text]:focus {
  outline: 1px solid #f9c74f;
}
.contacto .contacto-ctn .form-wts div div textarea {
  font-family: "Source Code Pro";
  width: 100%;
  border-radius: 5px;
  border: none;
  padding: 10px;
  background-color: #2b2c2a;
  color: #cad2c5;
}
.contacto .contacto-ctn .form-wts div div textarea:focus {
  outline: 1px solid #f9c74f;
}
.contacto .contacto-ctn .form-wts div button {
  font-family: "Source Code Pro";
  font-size: 1rem;
  font-weight: 600;
  width: 100%;
  border: none;
  padding: 10px;
  background: #f9c74f;
  border-radius: 5px;
  color: #2b2c2a;
  cursor: pointer;
  height: 50px;
  align-items: center;
  text-align: center;
}
.contacto .contacto-ctn .form-wts div button:hover {
  outline: 1px solid #f9c74f;
  background: #656e5d;
  color: #cad2c5;
}
.contacto .contacto-ctn .redes-sociales {
  grid-area: social;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  padding: 0 5vw;
}
.contacto .contacto-ctn .redes-sociales div {
  height: 100%;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}
.contacto .contacto-ctn .redes-sociales div a {
  text-decoration: none;
  margin: auto 0;
  padding: 5px;
  transition: all 0.3s;
}
.contacto .contacto-ctn .redes-sociales div a img {
  display: inline-block;
  height: 50px;
  width: 50px;
}
.contacto .contacto-ctn .redes-sociales div a p {
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  padding-left: 7px;
  color: #cad2c5;
}
.contacto .contacto-ctn .redes-sociales div a:hover {
  background: #f9c74f;
  padding: 5px;
  border-radius: 7px;
}
.contacto .contacto-ctn .redes-sociales div a:hover img {
  transform: scale(1.3) translateX(-60px);
}
.contacto .contacto-ctn .redes-sociales div a:hover p {
  color: #2b2c2a;
  font-weight: 800;
}
@media screen and (max-width: 800px) {
  .contacto {
    margin-bottom: 10px;
  }
  .contacto .contacto-ctn {
    display: flex;
    flex-direction: column;
  }
  .contacto .contacto-ctn .redes-sociales {
    margin-top: 45px;
  }
  .contacto .contacto-ctn .redes-sociales div {
    height: 100%;
    display: flex;
  }
  .contacto .contacto-ctn .redes-sociales div a {
    text-decoration: none;
    margin: auto 0;
    padding: 5px;
  }
  .contacto .contacto-ctn .redes-sociales div a img {
    display: inline-block;
    height: 50px;
    width: 50px;
    padding: 5px;
  }
  .contacto .contacto-ctn .redes-sociales div a p {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */