@use 'variables' as *;

// FLEXBOX

@mixin flex($flow, $wrap, $justify, $align) {
  display: flex;
  flex-flow: $flow $wrap;
  justify-content: $justify;
  align-items: $align;
}

// RESPONSIVE

@mixin resp($medida: 800px) {
  @media screen and (max-width: $medida) {
    @content;
  }
}

// TITULOS

@mixin titulo() {
  font-size: 2.5rem;
  color: $c-amarillo;
  font-family: map-get($font, 'fontlogo');
  padding-bottom: 20px;
  font-weight: $fw-6;
}
