@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;500;600;700&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Source+Code+Pro:wght@200;300;400;500;600;700;900&display=swap');

// *VARIABLES DE FUENTES
$font: (
  'fontlogo': 'Chakra Petch',
  'font1': 'Outfit',
  'font2': 'Source Code Pro',
);

// *VARIABLES DE TAMAÑOS

$fs-sm: 1rem;
$fs-md: 1.3rem;
$fs-lg: 1.7rem;
$fs-xl: 2rem;
$fs-xxl: 2.5rem;

// *VARIABLES FONT WEIGHT

$fw-2: 200;
$fw-3: 300;
$fw-4: 400;
$fw-5: 500;
$fw-6: 600;
$fw-7: 700;
$fw-8: 800;

//* VARIABLES DE COLORES

$c-amarillo: #f9c74f;
$c-militar: #84a98c;
$c-verde: #3daa16;
$c-blanco: #cad2c5;
$c-bg: #2f3e46;
$c-bgmenu: #617c67;
