/* INICIO */

.inicio {
  margin: auto;
  padding-top: 4em;
  max-width: 1200px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .bg-animation {
    position: relative;
    width: min(90vw, 600px);
    height: min(90vw, 600px);
    border-radius: 5px;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      background: $c-amarillo;
      transition: 0.5s;
      inset: -20px;
      animation: animate 4s linear infinite;
    }
    &::after {
      content: '';
      position: absolute;
      inset: 5px;
      background: $c-bg;
      border-radius: 5px;
      z-index: 50;
    }

    .cnt-inicio {
      display: block;
      height: 80vw;
      width: 80vw;
      .content {
        position: absolute;
        margin: auto;
        inset: 25px;
        z-index: 75;
        border-radius: 5px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: 0.5s;
          pointer-events: none;
          z-index: 100;
        }

        h2 {
          position: relative;
          font-family: map-get($font, 'fontlogo');
          font-size: min(10vw, 4rem);
          font-weight: $fw-6;
          color: $c-amarillo;
          text-align: center;
        }
        h3 {
          font-size: min(6vw, 2.5rem);
          color: $c-blanco;
          font-family: map-get($font, 'font2');
        }
      }

      &:hover .content img {
        opacity: 0;
        width: 400px;
        height: 400px;
        @include resp(800px) {
          width: 800px;
          height: 800px;
        }
      }
    }
  }
}

@keyframes animate {
  0% {
    clip-path: polygon(0 90%, 10% 90%, 10% 100%, 0 100%);
  }
  25% {
    clip-path: polygon(0 0, 10% 0, 10% 10%, 0 10%);
  }
  50% {
    clip-path: polygon(90% 0, 100% 0, 100% 10%, 90% 10%);
  }
  75% {
    clip-path: polygon(90% 90%, 100% 90%, 100% 100%, 90% 100%);
  }
  100% {
    clip-path: polygon(0 90%, 10% 90%, 10% 100%, 0 100%);
  }
}
