/* NAVBAR */

.navbar {
  z-index: 100;
  position: fixed;
  width: 98vw;
  height: 80px;
  margin: 0 auto;
  font-family: map-get($font, 'fontlogo');

  .nav-container {
    background: $c-bg;
    @include flex(row, nowrap, space-between, center);
    border: 1px solid $c-bg2;
    border-radius: 7px;
    margin: 0 auto;
    padding: 0 10px;
    height: 100%;
    width: min(90vw, 1200px);

    .nav-logo {
      font-size: min(10vw, 2rem);
      font-weight: $fw-7;
      color: $c-amarillo;
      text-decoration: none;
    }
    .nav-input,
    svg {
      display: none;
    }

    .nav-menu {
      font-size: max(1vw, 1.5rem);
      display: grid;
      grid-auto-flow: column;
      gap: 2em;
      // padding: 10px;

      .nav-item {
        color: $c-blanco;
        text-decoration: none;
        text-transform: uppercase;
        --clip: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
        b {
          color: $c-amarillo;
        }
        &::after {
          content: '';
          display: block;
          background: $c-amarillo;
          width: 100%;
          height: 3px;
          clip-path: var(--clip);
          transition: clip-path 0.5s ease-in-out;
        }
        &:hover {
          --clip: polygon(100% 0, 0 0, 0 100%, 100% 100%);
          b {
            color: $c-amarillo;
          }
        }
      }
    }
    @media screen and (max-width: 800px) {
      background: $c-bg;
      @include flex(row, nowrap, space-evenly, center);
      svg {
        display: inline-block;
        fill: $c-amarillo;
      }
      .nav-label {
        display: block;
        border-radius: 5px;
        padding: 0 10px;
        background: $c-bg;
      }

      .nav-menu {
        justify-content: center;
        @include flex(column, nowrap, space-evenly, center);
        color: $c-blanco;
        background: $c-bg;
        border-radius: 7px;
        border: 1px solid $c-bg2;
        position: fixed;
        width: 90vw;
        height: 80vh;
        top: 80px;
        gap: 0.5em;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: clip-path 0.5s;
      }

      .nav-input:checked + .nav-menu {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }

      .nav-label {
        cursor: pointer;
      }
    }
  }
}
