/* SOBRE MI */

.sobremi {
  width: 100vw;
  height: 100vh;
  .cnt-sobremi {
    max-width: min(90vw, 1200px);
    margin: 0 auto;
    padding: 15px;
    border-radius: 5px;
    background: $c-bgmenu;
    height: auto;
    font-family: map-get($font, 'font2');
    display: flex;
    flex-wrap: wrap;
    .sobremi-resumen {
      min-width: 280px;
      max-width: 80%;
      h2 {
        @include titulo();
      }
      p {
        font-weight: $fw-6;
      }
    }
    .cnt-img {
      margin: 30px auto;
      min-width: 90%;
      @include flex(row, wrap, space-evenly, none);
      img {
        min-width: max(60px, 5vw);
      }
    }
  }
}
